{% extends 'UserBundle::header.html.twig' %}
{% form_theme form 'UserBundle:Register:fields.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row">
            <div class=" col-md-offset-4 col-md-4">
                <h2>Sign Up</h2>
                <form action="{{ path('user_register') }}" method="POST" novalidate="novalidate">
                    {{ form_row(
                    form.username,{
                        'id' : 'username'
                    }) }}
                    {{ form_row(
                    form.firstname,{
                        'id' : 'firstname'
                    }) }}
                    {{ form_row(
                    form.lastname,{
                        'id' : 'lastname'
                    }) }}
                    {{ form_row(form.email,{
                        'id'  : 'email'
                    }) }}
                    {{ form_row(
                    form.gender,{
                        'label' : 'Gender',
                        'id' : 'gender',

                    }
                    ) }}
                    {{ form_row(
                    form.address,{
                        'label' : 'Address',
                        'id' : 'address'
                    }
                    ) }}


                    {{ form_row(form.plainPassword.first,{
                        'label' : 'Password',
                        'id'  : 'password'
                    }) }}
                    {{ form_row(
                    form.plainPassword.second,{
                        'label': 'Repeat Password',
                        'id'  : 'password_check'
                    }) }}

                    {{ form_rest(form) }}
                    <input type="submit" value="Register!!" class="btn btn-primary float-right" id="submit">&nbsp;
                    <a href="{{ path('login_form') }}">Already Registered</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/user/js/register.js') }}"></script>
{% endblock %}