{% extends 'UserBundle::header.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row">
            <div class=" col-md-offset-4 col-md-4">
                {% if app.session.flashbag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashbag.get('success') %}
                            {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
                <h2>Sign In</h2>
                    {%- if error -%}
                        <div class="alert alert-danger fade in">
                            {{ error.messageKey| trans(
                            {'Invalid credentials.':'Wrong username or password
                            entered'}) }}
                        </div>
                    {%- endif -%}
                <form name="login" method="post" action="{{ path('login_check') }}">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" id="username"
                               placeholder="Enter username" name="_username">
                        <span class=" hide_username_details help-block" id="username_check">
                    </span>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control"
                               id="password" placeholder="Enter password" name="_password">
                        <span class="hide_password_details help-block" id="password_error"></span>
                    </div>
                    <div class="form-group form-inline">
                        <button type="submit" class="btn btn-default btn-primary"
                                name="login_button" id="submit">Submit</button>&nbsp;&nbsp;
                        <a href="{{ path('user_register')}}">Create Account </a>&nbsp;
                        <a href="#" data-toggle="modal" data-target="#pwdModal">Forgot Password</a>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="remember_me" name="_remember_me" checked />
                        <label for="remember_me">Keep me logged in</label>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade" id="pwdModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Reset Password</h3>
                </div>
                <!-- body(form) -->
                <div class="modal-body">
                    <form class="form-inline">
                        <div class="form-group">
                            <span id="successMessage" class='help-block'></span>
                            <label for="email">Email:</label>
                            <input type="email"
                                   class="form-control"
                                   id="modal_email"
                                   placeholder="Enter email"
                                   name="email">
                            <span class="help-block" id="display_errors">
                            </span>
                        </div>
                    </form>
                </div>
                <!-- footer -->
                <div class="modal-footer">
                    <button type="submit"
                            id="forgot_pass_submit"
                            class="btn btn-default btn-primary">Send Email</button>&nbsp;
                    <button class="btn btn-default btn-danger"
                            data-dismiss="modal"
                            aria-hidden="true">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts%}
    {{ parent() }}
    <script src="{{ asset('bundles/user/js/login.js') }}"></script>
{% endblock %}