{% extends 'UserBundle::header.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row">
            <div class=" col-md-offset-4 col-md-4">
                {% if app.session.flashbag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashbag.get('success') %}
                            {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if app.session.flashbag.has('info') %}
                    <div class="alert alert-info">
                        {% for msg in app.session.flashbag.get('info') %}
                            {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}

                <h1>Welcome {{ user.username }}</h1>
                <p>Email: <span class="text-info">{{ user.email }}</span></p>
                {% if user.firstname %}
                    <p>Firstname: <span class="text-info">{{ user.firstname }}</span></p>
                {% endif %}
                {% if user.lastname %}
                    <p>LastName: <span class="text-info">{{ user.lastname }}</span></p>
                {% endif %}
                {%  if user.address %}
                    <p>Address: <span class="text-info">{{ user.address }}</span></p>
                {% endif %}
                {% if user.gender %}
                    <p>Gender: <span class="text-info">{{ user.gender }}</span></p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/user/js/home.js') }}"></script>
{% endblock %}